* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 8px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

a {
  color: #6ab8fd;
  text-decoration: none;
}

[data-hover-visible] a:hover {
  color: #4581b7;
  text-decoration: underline;
}

a:active,
a:hover:active {
  color: #fd6464;
  text-decoration: underline;
}

button {
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  height: 32px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[data-hover-visible] button:hover {
  background-color: #ddd
}

button:active,
button:hover:active {
  background-color: #999;
}
